body,input{
	font-size: 14px;
}
input{
	background-color: transparent;
	width: 65%;
}
.mui-bar.mui-bar-nav {
	background-color: #ff302d;
}

.mui-title {
	color: #fff;
}

header a{
	color: #FFFFFF;
}

.mui-table-view .mui-media-object {
    line-height: 30px;
    max-width: 60px;
    height: 30px;
}
.mui-table-view .mui-media-body{
    line-height: 30px;
    border: 0;
}
