.mui-bar.mui-bar-nav{
	background-color: #ff302d;
}
.mui-title{
	color: #fff;
}
.mui-icon-nav-category{
	width: 44px;
	height: 44px;
	background: url(../images/duobao/ic_category.png) no-repeat center;
	background-size: 20px 20px;
}
.mui-icon-nav-search{
	width: 44px;
	height: 44px;
	background: url(../images/duobao/ic_big_search.png) no-repeat center;
	background-size: 20px 20px;
}

.top-activity-tips{
	background-color: #F3F3F3;
	height: 45px;
}

.activity-title{
	color: #000000;
	line-height: 45px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 18px;
}
.activity-label{
	color: #ffffff;
	line-height: 45px;
	padding: 5px;
	font-size: 16px;
	background-color: #da041b;
	border-radius: 5px;
}
.activity-time{
	background-color: #fff;
	border: 1px solid #dfdfdf ; 
	color: #ff302d;
	padding: 2px;
	font-weight: bold;
	font-size: 18px;
}
.activity-time-split{
	color: #ff302d;
	font-weight: bold;
	font-size: 18px;
}
.fast-nav{
	height: 80px;
	background-color: #FFFFFF;
}
.fast-item{
	display: table-cell;
	width: 1%;
	text-align: center;
}
.fast-item-icon{
	margin-top: 18px;
    display: inline-block;
	height: 24px;
	width: 24px;
	background: url(../images/tab/tab_home_pressed.png) no-repeat;
	background-size: 24px 24px;
}
.fast-item-label{
	margin-top: 5px;
	display:  block;
	color: #414141;
	font-size: 14px;
}
.item-nav{
	background-color: #F3F3F3;
	height: 30px;
	border-top:1px solid #dfdfdf;
}
.item-nav .title{
	line-height: 30px;
	margin-left: 10px;
	background: url(../images/duobao/ic_buy_ongoing.png) no-repeat;
	background-size: 16px 16px;
	padding-left: 25px;
	font-weight: bold;
	font-size: 14px;
}
.item-nav .look-more{
	margin-right: 0;
	float: right;
	line-height: 30px;
	margin-right: 10px;
	color: #ff302d;
	font-weight: bold;
	font-size: 14px;
}
.latest-result{
	border-top:1px solid #dfdfdf;
	background-color: #FFFFFF;
	min-height: 170px;
}
.result-item{
	display: table-cell;
	width: 1%;
	text-align: center;
}

.result-item .cover{
    display: inline-block;
	margin-top: 15px;
}
.result-item .title{
	display: inline-block;
	margin-top: 15px;
	font-size: 14px;  
	color: #000000;
}
.result-item .desc{
	color: #FFFFFF;
	display: inline-block;
	margin-top: 5px;
	background-color: #da041b;
	border-radius: 14px;
	line-height: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	margin-bottom: 10px;
}
.result-item:nth-child(2){
	border-left:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;
}
