.mui-bar.mui-bar-nav {
	background-color: #ff302d;
}

.mui-title {
	color: #fff;
}

.mui-icon-nav-category {
	width: 44px;
	height: 44px;
	background: url(../images/duobao/ic_category.png) no-repeat center;
	background-size: 20px 20px;
}

.mui-icon-nav-search {
	width: 44px;
	height: 44px;
	background: url(../images/duobao/ic_big_search.png) no-repeat center;
	background-size: 20px 20px;
}
