.mui-bar.mui-bar-nav {
	background-color: #ff302d;
}

.mui-title {
	color: #fff;
}

header a{
	color: #FFFFFF;
}

.list-empty{
	text-align: center;
}
.list-empty-object{
	margin-top: 80px;
}
.list-empty-body{
	display: block;
	font-size: 14px;
	line-height: 14px;
    height: 10px;
    margin-top: 10px;
    color: #8F8F94;
}
.list-empty-to-buy{
	font-size: 14px;
	line-height: 20px;
    color: #ff302d;
    margin-top: 20px;
	display: inline-block;
	width: 150px;
	border: 2px solid #ff302d;
	padding: 5px 0px;
	border-radius: 5px;
	background-color: transparent;
}